@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.stage-wrapper {
    position: relative;
}

.stage-wrapper * {
    box-sizing: border-box;
}

.stage-canvas-wrapper {
    /* Hides negative space between edge of rounded corners + container, when selected */
    user-select: none;
}

.offset-controls .stage-canvas-wrapper {
    padding-top: 44px;
}

.stage-wrapper.full-screen {
    position: fixed;
    top: $stage-menu-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-stage-wrapper-overlay;
    background-color: $fullscreen-background;
    /* spacing between stage and control bar (on the top), or between
    stage and window edges (on left/right/bottom) */
    padding: $stage-full-screen-stage-padding;

    /* this centers the stage */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* iOS fullscreen fade-in */
    animation: stageFullScreenIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes stageFullScreenIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.stage-wrapper.embedded {
    background-color: transparent;
}
